<app-table [data]="[data]">
  <ng-container *appTableHeader>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
  </ng-container>

  <ng-container *appTableRow="[data]">
    <td class="bg-white">
      <input type="text" [formControl]="firstname" />
    </td>
    <td class="bg-white">
      <input type="text" [formControl]="lastname" />
    </td>
    <td class="bg-white">
      <input type="number" [formControl]="age" />
    </td>
  </ng-container>
</app-table>

<div class="bg-white flex justify-around h-8">
  <button (click)="onCancel()">Cancel</button>
  <button (click)="onApply()">Apply</button>
</div>
