<nav class="flex justify-between px-10 bg-blue-800 text-white py-1 font-bold">
  <div class="self-center">Logo</div>

  <div class="flex gap-2 font-bold self-center">
    <div class="nav-item" routerLink="/homepage" routerLinkActive="active">
      Home
    </div>
    <div class="nav-item" routerLink="/about" routerLinkActive="active">
      About
    </div>
    <div
      class="nav-item"
      routerLink="/dashboard"
      routerLinkActive="active"
      *ngIf="isLoggedIn$ | async"
    >
      Dashboard
    </div>
  </div>

  <button
    routerLink="auth/login"
    class="hover:bg-blue-700 h-100 px-4 rounded-2xl"
  >
    Login
  </button>
</nav>
